.DS_Store
elisa-v2.c
elisa-time.c
elisa-v2.h
elisa-v2_types.h
elisa-time.h
elisa-time_types.h
log_file
main_syslog
main_syslog_local
main_syslog_time
*.pyc
syslog_file
log_file
*.swp
demos/copilot/src/monitors/Image
demos/copilot/src/monitors/aarch64-*
demos/copilot/src/monitors/archive.tar
demos/copilot/src/monitors/extracted_cpio/
demos/copilot/src/monitors/main_syslog_time_cross
demos/copilot/src/monitors/rootfs.cpio*
demos/copilot/src/elisa_emulation/aarch64-*
demos/copilot/src/elisa_emulation/archive.tar
demos/copilot/src/elisa_emulation/extracted_cpio/
demos/copilot/src/elisa_emulation/Image
demos/copilot/src/elisa_emulation/rootfs.cpio*
