# SPDX-License-Identifier: MIT
---
name: CI

on:
  push:
    paths:
      - "demos/**"
    branches:
      - "*" # This will trigger the workflow on all branches

jobs:
  clone-and-build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: read
      # To report GitHub Actions status checks
      statuses: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Prep
        run: |
          cd demos/copilot/src/monitors
          make prep
          make prep_cross
          make env-debug

      - name: Build
        run: |
          cd ${{ github.workspace }}
          cd demos/copilot/src/monitors
          make
          file main_syslog_time # Verify built file exists

      - name: Build Cross Target
        run: |
          cd ${{ github.workspace }}
          cd demos/copilot/src/monitors
          make main_syslog_time_cross
          file main_syslog_time_cross # Verify built file exists

      - name: Test Cross Target
        run: |
          cd ${{ github.workspace }}
          cd demos/copilot/src/monitors
          file main_syslog_time_cross # Verify built file exists
          # Internal wrapper script for CI run is set to 30sec timeout so this should force a fail set to 20s
          timeout 20 make main_syslog_time_cross_run_ci

      - name: Test
        run: |
          cd ${{ github.workspace }}
          cd demos/copilot/src/monitors
          make
          make test

      # Docs - https://github.com/EnricoMi/publish-unit-test-result-action?tab=readme-ov-file#github-action-to-publish-test-results
      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          files: |
            demos/test-results/**/*.xml
            demos/test-results/**/*.trx
            demos/test-results/**/*.json
